<%- include ../partials/header.ejs%>

<%- include ../partials/main_nav.ejs%>   

<!--Content for the edit page-->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%=title %></h1>
            <form class="form" method="POST">
                
                <div class="form-group">
                    <label for="titleTextField">Title</label>
                    <input type="text" class="form-control" 
                    id = "titleTextField"
                    placeholder="Enter Move Title"
                    name="title"
                    value="<%=movie.title%>" 
                    required>
                </div>

                <div class="form-group">
                    <label for="RatingNumber">Rating_IMDB</label>
                    <input type="number" class="form-control" 
                    id = "RatingNumber"
                    placeholder="Enter the Movies Rating on IMDB"
                    name="Rating_IMDB"
                    value="<%=movie.Rating_IMDB%>"  
                    required>
                </div>

                <div class="form-group">
                    <label for="YearNumber">Year</label>
                    <input type="number" step="any" class="form-control" 
                    id = "yearNumber" 
                    placeholder="Enter the year the movie was released"
                    name="Year" 
                    value="<%=movie.Year%>" 
                    required>
                </div> 

                <div class="form-group">
                    <label for="Price">Price: </label>
                    <input type="number" class="form-control" 
                    id = "Price"
                    placeholder="Enter the Movies Price"
                    name="Price"
                    value="<%=movie.Price%>"  
                    required>
                </div>
                
                <button class="btn btn-primary" type = "submit">
                    <i class="fas fa-edit"></i>Submit
                </button>

                <a href="/movie-list" class="btn btn-warning"><i class="fas fa-undo"></i>Cancel</a>

            </form>
        </div>
    </div>
</div>

<%- include ../partials/bottom_nav.ejs%>

<%- include ../partials/footer.ejs%>